<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Jekyll v4.1.1">
		<title>
			{% block title %}APA Santé
			{% endblock %}
		</title>
		<!-- Bootstrap core CSS -->
		<link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('assets/css/css.css') }}">
		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>
		<!-- Custom styles for this template -->
		<link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet"> {% block javascript %}{% endblock %}
		</head>
		<body>
			<header>
				<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
					<a class="navbar-brand" href="{{ path('home') }}">APA Santé</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{{path('products')}}">Boutique<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="#">Actualités<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="{{path('contact')}}">Contact<span class="sr-only">(current)</span>
								</a>
							</li>
						</ul>
						<div class="navbar_item_custom">
							{% if app.user %}
								<a href="{{ path('app_account') }}">Mon compte
									<small>({{app.user.firstname}})</small>
								</a>
								|
								<a href="{{ path('app_logout') }}">Déconnexion</a>
							{% else %}
								<a href="{{ path('app_login') }}">Connexion</a>
								|
								<a href="{{ path('app_register') }}">Inscription</a>
								{%endif%}
							</div>
							<a href="{{path('cart')}}">
								<img src="{{asset('assets/img/shopping-cart.png')}}" class='cart-icon' alt="mon panier">

							</a>
						</div>
					</nav>
				</header>
				<main role="main">
					{% if block('carousel') is defined %}
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel" data-slide-to="1"></li>
								<li data-target="#myCarousel" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img class="bd-placeholder-img" src="assets\img\pexels-julia-larson-6456208.jpg" alt="Description de l'image" style="width:100%; height:auto;">
									<rect width="100%" height="100%" fill="#5D7962"/>
								</svg>
								<div class="container">
									<div class="carousel-caption text-left">
										<h1>APA Santé</h1>
										<p>Bienvenue sur le site dédié à l'activité physique adaptée, conçu avec passion par une enseignante dévouée à votre bien-être.Je suis
											<B>Adeline CANTEAU</B>, une professionnelle passionnée par la promotion d'un mode de vie sain et équilibré à travers l'exercice physique adapté.</p>
										<p>
											<a class="btn btn-lg btn-primary" href="#" role="button" style="background-color: #000000; border-color: #5D7962; color: white; text-decoration: none;">Inscrivez-vous à la newsletter</a>
										</p>
									</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<img class="bd-placeholder-img" src="assets\img\pexels-wellness-gallery-catalyst-foundation-12086688.jpg" alt="Description de l'image" style="width:100%; height:auto;">
							<rect width="100%" height="100%" fill="#5D7962"/>
							<div class="container">
								<div class="carousel-caption text-left" style="color: black;">
									<h1>APA Santé</h1>
									<p>Que vous soyez à la recherche d'un programme d'exercices sur
																				mesure, de conseils pratiques ou simplement d'une source d'inspiration pour vous motiver, vous trouverez ici une ressource complète dédiée à votre bien-être.</p>
									<p>
										<a class="btn btn-lg btn-primary" href="#" role="button" style="background-color: #000000; border-color: #5D7962; color: white; text-decoration: none;">Inscrivez-vous à la newsletter</a>
									</p>
								</p>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img class="bd-placeholder-img" src="assets\img\pexels-yan-krukau-6815702.jpg" alt="Description de l'image" style="width:100%; height:auto;">
							<rect width="100%" height="100%" fill="#5D7962"/>
						</svg>
						<div class="container">
							<div class="carousel-caption text-left">
								<h1>APA Santé</h1>
								<p>N'hésitez pas à me contacter pour des questions spécifiques ou pour discuter de la manière dont je
																														peux vous accompagner personnellement dans votre parcours vers une vie plus saine.</p>
								<p>
									<a class="btn btn-lg btn-primary" href="#" role="button" style="background-color: #000000; border-color: #5D7962; color: white; text-decoration: none;">Inscrivez-vous à la newsletter</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Precedent</span>
				</a>
				<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Suivant</span>
				</a>
			</div>
		{% endif %}
		<div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}"> {% block content %}{% endblock %}
			</div>
			<!-- /.container -->
			<!-- FOOTER -->
			<footer class="footer-custom">
				<p style="color: #fff;">&copy; APA Santé
					<br>
					<small>
						<a href="#" style="color: #fff; text-decoration: none;">Back to top</a>
						<br>
						&middot;
						<a href="#" style="color: #fff; text-decoration: none;">Privacy</a>
						&middot;
						<a href="#" style="color: #fff; text-decoration: none;">Terms</a>
					</small>
				</p>
			</footer>
		</html>
	</body>
</html></main><script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script><script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script></body></body></html>
